In [1]:
import requests
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
import numpy as np
import re

In [2]:
from azure.storage.blob import BlobServiceClient
import pandas as pd
from io import BytesIO

# Read Data

## Bookings

In [110]:
hotel_bookings = pd.read_csv("reservasHotel.csv", sep=";")

In [111]:
hotel_bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [112]:
hotel_bookings = hotel_bookings.drop_duplicates()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56701,City Hotel,0,173,2016,December,26,3,8,2,1,BB,BRA,0,0,0,E,F,NaN,Check-Out,06/01/2017
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [109]:
copy = hotel_bookings.copy()

In [5]:
hotel_bookings.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,agent
count,56707.000000,56707.000000,56707.0,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,49130.000000
mean,0.358633,102.870369,2016.0,15.911104,0.893981,2.442802,1.850988,0.104185,0.031354,0.044404,0.153526,5.052636
std,0.479603,106.582358,0.0,8.784897,0.983110,1.863548,0.498133,0.396580,0.174275,0.396707,1.557271,3.432421
min,0.000000,0.000000,2016.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,17.000000,2016.0,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,0.000000,68.000000,2016.0,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,1.000000,160.000000,2016.0,24.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,9.000000
max,1.000000,709.000000,2016.0,31.000000,19.000000,50.000000,4.000000,3.000000,1.000000,13.000000,58.000000,10.000000

In [6]:
hotel_bookings.isna().sum()

hotel                                0
is_canceled                          0
lead_time                            0
arrival_date_year                    0
arrival_date_month                   0
arrival_date_day_of_month            0
stays_in_weekend_nights              0
stays_in_week_nights                 0
adults                               0
children                             0
meal                                 0
country                            272
is_repeated_guest                    0
previous_cancellations               0
previous_bookings_not_canceled       0
reserved_room_type                   0
assigned_room_type                   0
agent                             7577
reservation_status                   0
reservation_status_date              0
dtype: int64

### Dates standarize

In [7]:
hotel_bookings['arrival_date'] = pd.to_datetime(hotel_bookings['arrival_date_year'].astype(str) + '-' + hotel_bookings['arrival_date_month'] + '-' + hotel_bookings['arrival_date_day_of_month'].astype(str), errors='coerce')
columns_to_drop = ['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month']
hotel_bookings.drop(columns=columns_to_drop, inplace=True)

In [8]:
hotel_bookings['reservation_status_date'] = pd.to_datetime(hotel_bookings['reservation_status_date'], format='%d/%m/%Y', errors='coerce')

In [9]:
hotel_bookings

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date
0,Resort Hotel,0,109,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,2016-01-02,2016-01-01
1,Resort Hotel,0,109,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,2016-01-02,2016-01-01
2,Resort Hotel,1,2,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,2016-01-01,2016-01-01
3,Resort Hotel,0,88,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,2016-01-03,2016-01-01
4,Resort Hotel,1,20,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,2015-12-22,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,2017-01-06,2016-12-30
56703,City Hotel,0,177,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,2017-01-06,2016-12-30
56704,City Hotel,0,107,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,2017-01-07,2016-12-31
56705,City Hotel,0,310,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,2017-01-08,2016-12-27
56706,City Hotel,0,310,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,2017-01-08,2016-12-27

### Data Cleansing

In [10]:
for column in hotel_bookings.columns.tolist():
    print(column)
    print(hotel_bookings[column].value_counts(dropna=False))

hotel
City Hotel      38140
Resort Hotel    18567
Name: hotel, dtype: int64
is_canceled
0    36370
1    20337
Name: is_canceled, dtype: int64
lead_time
0      3058
1      1774
2      1052
3       942
4       879
       ...
399       1
340       1
400       1
709       1
352       1
Name: lead_time, Length: 435, dtype: int64
stays_in_weekend_nights
0     25340
1     14987
2     14807
4       818
3       602
6        59
5        44
8        29
7         7
9         6
12        2
10        2
14        2
19        1
16        1
Name: stays_in_weekend_nights, dtype: int64
stays_in_week_nights
2     16209
1     14464
3     10651
5      4901
4      4376
0      3978
6       640
10      487
7       455
8       289
9        97
15       37
11       27
20       22
12       15
13       12
14       11
21        8
18        5
19        4
25        3
22        3
17        3
16        3
30        2
24        1
50        1
34        1
35        1
41        1
Name: stays_in_week_nights, dtype: int64
adults
2    42160
1    11171
3     3115
0      229
4       32
Name: adults, dtype: int64
children
0    52578
1     2384
2     1711
3       34
Name: children, dtype: int64
meal
BB           44551
HB            6176
SC            5060
Undefined      586
FB             334
Name: meal, dtype: int64
country
PRT    22321
GBR     5585
FRA     5165
ESP     4024
DEU     3865
       ...
COM        1
IMN        1
SYR        1
NIC        1
HND        1
Name: country, Length: 152, dtype: int64
is_repeated_guest
0    54929
1     1778
Name: is_repeated_guest, dtype: int64
previous_cancellations
0     54936
1      1595
3        51
2        48
11       33
5        13
4        12
13       12
6         7
Name: previous_cancellations, dtype: int64
previous_bookings_not_canceled
0     54827
1       777
2       289
3       183
4       138
5       110
6        62
7        43
8        36
9        27
10       22
11       18
12       15
15       11
25       11
14       11
16       10
13       10
17        9
18        9
20        9
21        9
22        9
19        8
23        4
24        4
27        4
28        3
29        3
26        2
30        2
48        2
44        2
32        2
31        2
33        1
47        1
57        1
56        1
55        1
54        1
53        1
52        1
51        1
50        1
49        1
46        1
34        1
45        1
43        1
42        1
41        1
40        1
39        1
38        1
37        1
36        1
35        1
58        1
Name: previous_bookings_not_canceled, dtype: int64
reserved_room_type
A    40718
D     9421
E     2881
F     1424
G      997
B      672
H      306
C      282
P        6
Name: reserved_room_type, dtype: int64
assigned_room_type
A    34690
D    12403
E     3574
F     1799
B     1346
G     1210
C      984
H      339
I      215
K      141
P        6
Name: assigned_room_type, dtype: int64
agent
9.0     16862
2.0     13324
1.0      8024
NaN      7577
3.0      3465
7.0      1934
8.0      1731
6.0      1614
10.0      851
4.0       794
5.0       531
Name: agent, dtype: int64
reservation_status
Check-Out    36370
Canceled     19669
No-Show        668
Name: reservation_status, dtype: int64
reservation_status_date
2015-10-21    1117
2016-01-18     625
2016-02-09     412
2015-12-18     392
2016-04-04     382
              ...
2015-10-07       1
2015-08-24       1
2015-08-17       1
2015-10-03       1
2015-08-22       1
Name: reservation_status_date, Length: 479, dtype: int64
arrival_date
2016-11-07    366
2016-10-13    344
2016-10-28    334
2016-06-17    321
2016-09-15    313
             ...
2016-01-11     40
2016-12-11     39
2016-01-17     37
2016-01-24     36
2016-01-31     33
Name: arrival_date, Length: 366, dtype: int64

Conclusions:
- meal: sc and undefined must be unified
- agent and country must have data imputation

### Meal

In [11]:
hotel_bookings['meal'].replace({'Undefined': 'SC'}, inplace=True)

In [12]:
hotel_bookings.meal.value_counts(dropna=False)

BB    44551
HB     6176
SC     5646
FB      334
Name: meal, dtype: int64

In [13]:
hotel_bookings.hotel.value_counts(dropna=False)

City Hotel      38140
Resort Hotel    18567
Name: hotel, dtype: int64

### Data Imputation

### Country

In [14]:
hotel_bookings['country'].fillna('Unknown', inplace=True)

In [15]:
df_encoded = pd.get_dummies(hotel_bookings)
correlation_matrix = df_encoded.corr()

# Extract the correlations with the one-hot encoded 'country' columns
country_columns = df_encoded.filter(like='country_').columns
country_correlations = correlation_matrix[country_columns].abs().sum(axis=1)

# Sort the correlations in descending order
sorted_correlations = country_correlations.sort_values(ascending=False)

# Print the top correlated columns
print("Top correlated columns to 'country':")
print(sorted_correlations[1:])  # Exclude 'country' itself  # Exclude 'country' itself

Top correlated columns to 'country':
country_GBR             2.851113
country_FRA             2.777304
country_ESP             2.562782
country_DEU             2.530892
agent                   2.446339
                          ...
assigned_room_type_K    0.375681
assigned_room_type_I    0.363121
reserved_room_type_C    0.316197
reserved_room_type_P    0.208470
assigned_room_type_P    0.208470
Length: 190, dtype: float64

In [16]:
hotel_bookings[hotel_bookings.country == 'Unknown']

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date
389,Resort Hotel,1,0,0,0,0,0,SC,Unknown,0,0,0,P,P,NaN,Canceled,2016-02-15,2016-02-15
3354,Resort Hotel,1,8,0,1,1,0,BB,Unknown,0,0,0,A,A,NaN,Canceled,2016-07-20,2016-07-21
4122,Resort Hotel,1,39,0,5,2,0,HB,Unknown,0,0,0,A,A,NaN,Canceled,2016-07-22,2016-08-30
5041,Resort Hotel,1,0,0,1,1,0,BB,Unknown,0,0,0,A,A,NaN,Canceled,2016-10-13,2016-10-13
5638,Resort Hotel,1,0,0,0,0,0,SC,Unknown,0,0,0,P,P,NaN,Canceled,2016-11-21,2016-11-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32797,City Hotel,1,0,4,11,0,0,SC,Unknown,0,0,0,P,P,NaN,Canceled,2016-11-17,2016-11-17
33390,City Hotel,1,0,0,0,0,0,SC,Unknown,0,0,0,P,P,NaN,Canceled,2016-12-06,2016-12-06
33391,City Hotel,1,0,0,0,0,0,SC,Unknown,0,0,0,P,P,NaN,Canceled,2016-12-06,2016-12-06
33395,City Hotel,1,0,0,0,0,0,SC,Unknown,0,0,0,P,P,NaN,Canceled,2016-12-06,2016-12-06
54246,City Hotel,0,1,2,2,2,0,BB,Unknown,0,0,0,A,A,1.0,Check-Out,2016-11-17,2016-11-13

In [17]:
hotel_bookings[hotel_bookings.country == 'Unknown'].agent.value_counts(dropna=False)

NaN    198
2.0     36
1.0     16
3.0     11
9.0      7
6.0      2
4.0      1
5.0      1
Name: agent, dtype: int64

The biggest number of countries uncompleted seems to be directly related to unfilled agent column.

### Agent

In [18]:
round(hotel_bookings['agent'].value_counts(dropna=False, normalize=True)*100, 2)

9.0     29.74
2.0     23.50
1.0     14.15
NaN     13.36
3.0      6.11
7.0      3.41
8.0      3.05
6.0      2.85
10.0     1.50
4.0      1.40
5.0      0.94
Name: agent, dtype: float64

In [19]:
imputer = SimpleImputer(strategy='mean')  # or 'median', 'most_frequent', etc.
hotel_bookings['agent_imputer'] = imputer.fit_transform(hotel_bookings[['agent']])

In [20]:
round(hotel_bookings['agent_imputer'].value_counts(dropna=False, normalize=True)*100, 2)

9.000000     29.74
2.000000     23.50
1.000000     14.15
5.052636     13.36
3.000000      6.11
7.000000      3.41
8.000000      3.05
6.000000      2.85
10.000000     1.50
4.000000      1.40
5.000000      0.94
Name: agent_imputer, dtype: float64

With the imputer technique, the NaN values 13% are converted to 5.05%.

In [21]:
# Create a KNNImputer instance
imputer = KNNImputer(n_neighbors=5)

# Fit and transform the 'agent' column
hotel_bookings['agent_knn'] = imputer.fit_transform(hotel_bookings[['agent']])
round(hotel_bookings['agent_knn'].value_counts(dropna=False, normalize=True)*100, 2)

9.000000     29.74
2.000000     23.50
1.000000     14.15
5.052636     13.36
3.000000      6.11
7.000000      3.41
8.000000      3.05
6.000000      2.85
10.000000     1.50
4.000000      1.40
5.000000      0.94
Name: agent_knn, dtype: float64

In [22]:
round(hotel_bookings.agent.value_counts(dropna=False, normalize=True)*100, 2)

9.0     29.74
2.0     23.50
1.0     14.15
NaN     13.36
3.0      6.11
7.0      3.41
8.0      3.05
6.0      2.85
10.0     1.50
4.0      1.40
5.0      0.94
Name: agent, dtype: float64

Given that the 'agent' column consists of numerical identifiers, and these identifiers don't represent ordinal or interval values where the mean or median would make sense, we consider imputing the missing values based on the distribution of the existing values.

In [23]:
# Calculate the distribution of the 'agent' values (excluding NaN)
agent_distribution = hotel_bookings['agent'].value_counts(normalize=True)

# Generate random samples based on the distribution
missing_indices = hotel_bookings['agent'].isnull()
num_missing = missing_indices.sum()

random_agents = np.random.choice(agent_distribution.index, size=num_missing, p=agent_distribution.values)

# Fill in missing 'agent' values with the randomly sampled values
hotel_bookings["agent_previous"] = hotel_bookings["agent"]
hotel_bookings.loc[missing_indices, 'agent'] = random_agents

In [24]:
round(hotel_bookings.agent_previous.value_counts(dropna=False, normalize=True)*100, 2)

9.0     29.74
2.0     23.50
1.0     14.15
NaN     13.36
3.0      6.11
7.0      3.41
8.0      3.05
6.0      2.85
10.0     1.50
4.0      1.40
5.0      0.94
Name: agent_previous, dtype: float64

In [25]:
round(hotel_bookings.agent.value_counts(dropna=False, normalize=True)*100, 2)

9.0     34.35
2.0     27.04
1.0     16.38
3.0      7.05
7.0      3.95
8.0      3.53
6.0      3.30
10.0     1.72
4.0      1.60
5.0      1.08
Name: agent, dtype: float64

This seem to be the most realistic form to fill the NaN agent identifiers.

No relation between agent missing and cancelation indicator found:

In [26]:
hotel_bookings[hotel_bookings.agent_previous.isna()].is_canceled.value_counts()

0    6043
1    1534
Name: is_canceled, dtype: int64

In [27]:
hotel_bookings.drop(columns=["agent_imputer", "agent_knn", "agent_previous"], inplace=True)

In [28]:
hotel_bookings

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date
0,Resort Hotel,0,109,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,2016-01-02,2016-01-01
1,Resort Hotel,0,109,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,2016-01-02,2016-01-01
2,Resort Hotel,1,2,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,2016-01-01,2016-01-01
3,Resort Hotel,0,88,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,2016-01-03,2016-01-01
4,Resort Hotel,1,20,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,2015-12-22,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,2017-01-06,2016-12-30
56703,City Hotel,0,177,2,5,0,0,BB,PRT,0,0,0,E,K,9.0,Check-Out,2017-01-06,2016-12-30
56704,City Hotel,0,107,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,2017-01-07,2016-12-31
56705,City Hotel,0,310,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,2017-01-08,2016-12-27
56706,City Hotel,0,310,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,2017-01-08,2016-12-27

In [29]:
hotel_bookings[hotel_bookings.country == 'Unknown'].agent.value_counts(dropna=False)

2.0     85
9.0     77
1.0     47
3.0     30
7.0      8
6.0      6
8.0      6
4.0      6
5.0      4
10.0     3
Name: agent, dtype: int64

In [30]:
hotel_bookings[hotel_bookings.country != 'Unknown'].agent.value_counts(dropna=False)

9.0     19400
2.0     15249
1.0      9240
3.0      3969
7.0      2230
8.0      1998
6.0      1864
10.0      972
4.0       904
5.0       609
Name: agent, dtype: int64

In [31]:
hotel_bookings.country.value_counts(dropna=False)

PRT    22321
GBR     5585
FRA     5165
ESP     4024
DEU     3865
       ...
COM        1
IMN        1
SYR        1
NIC        1
HND        1
Name: country, Length: 152, dtype: int64

In [32]:
missing_country_rows = hotel_bookings[(hotel_bookings['country'] == 'Unknown') & (~hotel_bookings['agent'].isnull())]
# For each such row, fill in 'country' based on the most common 'country' for that 'agent'
for index, row in missing_country_rows.iterrows():
    agent = row['agent']
    possible_countries = hotel_bookings[hotel_bookings['agent'] == agent]['country']
    if not possible_countries.empty:
        most_common_country = possible_countries.mode().iloc[0]
        hotel_bookings.at[index, 'country'] = most_common_country

In [33]:
hotel_bookings.country.value_counts(dropna=False)

PRT    22593
GBR     5585
FRA     5165
ESP     4024
DEU     3865
       ...
COM        1
IMN        1
SYR        1
NIC        1
HND        1
Name: country, Length: 151, dtype: int64

Data imputation is completed.

## Users

In [45]:
# API endpoint URL
api_url = "https://jsonplaceholder.typicode.com/users"

# Make the API call
response = requests.get(api_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Load JSON data into a Pandas DataFrame
    data = response.json()
    users_df = pd.DataFrame(data)
    
    # Display the DataFrame
    print(users_df)
else:
    print(f"Error: {response.status_code}")

   id                      name          username                      email  \
0   1             Leanne Graham              Bret          Sincere@april.biz
1   2              Ervin Howell         Antonette          Shanna@melissa.tv
2   3          Clementine Bauch          Samantha         Nathan@yesenia.net
3   4          Patricia Lebsack          Karianne  Julianne.OConner@kory.org
4   5          Chelsey Dietrich            Kamren   Lucio_Hettinger@annie.ca
5   6      Mrs. Dennis Schulist  Leopoldo_Corkery    Karley_Dach@jasper.info
6   7           Kurtis Weissnat      Elwyn.Skiles     Telly.Hoeger@billy.biz
7   8  Nicholas Runolfsdottir V     Maxime_Nienow       Sherwood@rosamond.me
8   9           Glenna Reichert          Delphine    Chaim_McDermott@dana.io
9  10        Clementina DuBuque    Moriah.Stanton     Rey.Padberg@karina.biz

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289
5  {'street': 'Norberto Crossing', 'suite': 'Apt....   1-477-935-8478 x6430
6  {'street': 'Rex Trail', 'suite': 'Suite 280', ...           210.067.6132
7  {'street': 'Ellsworth Summit', 'suite': 'Suite...      586.493.6943 x140
8  {'street': 'Dayna Park', 'suite': 'Suite 449',...   (775)976-6794 x41206
9  {'street': 'Kattie Turnpike', 'suite': 'Suite ...           024-648-3804

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
5        ola.org  {'name': 'Considine-Lockman', 'catchPhrase': '...
6       elvis.io  {'name': 'Johns Group', 'catchPhrase': 'Config...
7   jacynthe.com  {'name': 'Abernathy Group', 'catchPhrase': 'Im...
8     conrad.com  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
9    ambrose.net  {'name': 'Hoeger LLC', 'catchPhrase': 'Central...

In [46]:
users_df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [47]:
# Address subfields
users_df['street'] = users_df['address'].apply(lambda x: x['street'])
users_df['suite'] = users_df['address'].apply(lambda x: x['suite'])
users_df['city'] = users_df['address'].apply(lambda x: x['city'])
users_df['zipcode'] = users_df['address'].apply(lambda x: x['zipcode'])
users_df['geo_lat'] = users_df['address'].apply(lambda x: x['geo']['lat'])
users_df['geo_lng'] = users_df['address'].apply(lambda x: x['geo']['lng'])

# Company subfields
users_df['company_name'] = users_df['company'].apply(lambda x: x['name'])
users_df['company_catchPhrase'] = users_df['company'].apply(lambda x: x['catchPhrase'])
users_df['company_bs'] = users_df['company'].apply(lambda x: x['bs'])

In [48]:
users_df.drop(['address', 'company'], axis=1, inplace=True)

In [49]:
users_df

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models

### Stanarize Phone Numbers

In [50]:
def standardize_phone(phone):
    # Remove non-numeric characters
    phone = re.sub(r'\D', '', str(phone))
    
    # Remove common prefixes
    phone = re.sub(r'^\+1', '', phone)  # Remove '+1' prefix
    
    # Remove 'x' and anything following it
    phone = re.sub(r'x.*$', '', phone, flags=re.IGNORECASE)
    
    # Ensure the phone number starts with the country code
    if not phone.startswith(('+')):
        phone = '+1' + phone  # Assuming US country code
    
    return phone

In [51]:
users_df['phone'] = users_df['phone'].apply(standardize_phone)

In [52]:
users_df

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,+11770736803156442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,+1010692659309125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,+114631234447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,+14931709623156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,+12549541289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,+1147793584786430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,+12100676132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,+15864936943140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,+1775976679441206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,+10246483804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models

### Email Validation

In [53]:
def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, email))

users_df['email_valid'] = users_df['email'].apply(is_valid_email)

In [54]:
users_df

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_name,company_catchPhrase,company_bs,email_valid
0,1,Leanne Graham,Bret,Sincere@april.biz,+11770736803156442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,True
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,+1010692659309125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,+114631234447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,+14931709623156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,True
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,+12549541289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,True
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,+1147793584786430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications,True
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,+12100676132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers,True
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,+15864936943140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers,True
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,+1775976679441206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,+10246483804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models,True

### Standarize Website URL

In [55]:
users_df['website'] = users_df['website'].apply(lambda x: 'http://' + x if not x.startswith(('http://', 'https://')) else x)

In [56]:
users_df

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_name,company_catchPhrase,company_bs,email_valid
0,1,Leanne Graham,Bret,Sincere@april.biz,+11770736803156442,http://hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,True
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,+1010692659309125,http://anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,+114631234447,http://ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,+14931709623156,http://kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,True
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,+12549541289,http://demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,True
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,+1147793584786430,http://ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications,True
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,+12100676132,http://elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers,True
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,+15864936943140,http://jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers,True
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,+1775976679441206,http://conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,+10246483804,http://ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models,True

### NAME SURNAME

In [57]:
users_df['name'] = users_df['name'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
users_df['username'] = users_df['username'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

### GEOLOC

In [58]:
users_df[['geo_lat', 'geo_lng']] = users_df[['geo_lat', 'geo_lng']].apply(pd.to_numeric, errors='coerce')

In [59]:
users_df

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_name,company_catchPhrase,company_bs,email_valid
0,1,Leanne Graham,Bret,Sincere@april.biz,+11770736803156442,http://hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,True
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,+1010692659309125,http://anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,+114631234447,http://ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,+14931709623156,http://kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,True
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,+12549541289,http://demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,True
5,6,Mrs Dennis Schulist,LeopoldoCorkery,Karley_Dach@jasper.info,+1147793584786430,http://ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications,True
6,7,Kurtis Weissnat,ElwynSkiles,Telly.Hoeger@billy.biz,+12100676132,http://elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers,True
7,8,Nicholas Runolfsdottir V,MaximeNienow,Sherwood@rosamond.me,+15864936943140,http://jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers,True
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,+1775976679441206,http://conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True
9,10,Clementina DuBuque,MoriahStanton,Rey.Padberg@karina.biz,+10246483804,http://ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models,True

# Merge data

In [60]:
hotel_bookings

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date
0,Resort Hotel,0,109,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,2016-01-02,2016-01-01
1,Resort Hotel,0,109,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,2016-01-02,2016-01-01
2,Resort Hotel,1,2,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,2016-01-01,2016-01-01
3,Resort Hotel,0,88,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,2016-01-03,2016-01-01
4,Resort Hotel,1,20,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,2015-12-22,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,2017-01-06,2016-12-30
56703,City Hotel,0,177,2,5,0,0,BB,PRT,0,0,0,E,K,9.0,Check-Out,2017-01-06,2016-12-30
56704,City Hotel,0,107,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,2017-01-07,2016-12-31
56705,City Hotel,0,310,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,2017-01-08,2016-12-27
56706,City Hotel,0,310,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,2017-01-08,2016-12-27

In [61]:
hotel_bookings.agent = hotel_bookings.agent.astype(int)

In [62]:
hotel_bookings = hotel_bookings.merge(users_df, how="left", left_on="agent", right_on="id")

In [ ]:
+---------------------+       +------------------+       +------------------+
|   dim_users         |       |   dim_hotels     |       |   dim_meals      |
|---------------------|       |------------------|       |------------------|
| user_id (PK)        |       | hotel_id (PK)    |       | meal_id (PK)     |
| name                |       | hotel_name       |       | meal_type        |
| username            |       |                  |       +------------------+       +------------------+
| email               |       |                  |
| phone               |       +------------------+
| website             |
| street              |       +------------------+
| suite               |       |   dim_dates      |
| city                |       |------------------|
| zipcode             |       | date_id (PK)     |
| geo_lat             |       | arrival_date     |
| geo_lng             |       +------------------+
| company_id (FK)     |
| email_valid         |
+---------------------+

+---------------------+       +------------------+
|   dim_companies     |       |   fact_bookings  |
|---------------------|       |------------------|
| company_id (PK)     |       | booking_id (PK)  |
| company_name        |       | user_id (FK)     |
| company_catchPhrase |       | hotel_id (FK)    |
| company_bs          |       | agent_id (FK)    |
+---------------------+       | meal_id (FK)     |
                              | is_canceled      |
                              | lead_time        |
                              | stays_in_weekend_nights |
                              | stays_in_week_nights    |
                              | adults           |
                              | children         |
                              | country          |
                              | is_repeated_guest     |
                              | previous_cancellations |
                              | previous_bookings_not_canceled |
                              | reserved_room_type      |
                              | assigned_room_type      |
                              | reservation_status      |
                              | reservation_status_date |
                              | arrival_date_id (FK)    |
                              +------------------+

In [63]:
users_df

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_name,company_catchPhrase,company_bs,email_valid
0,1,Leanne Graham,Bret,Sincere@april.biz,+11770736803156442,http://hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,True
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,+1010692659309125,http://anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,+114631234447,http://ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,+14931709623156,http://kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,True
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,+12549541289,http://demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,True
5,6,Mrs Dennis Schulist,LeopoldoCorkery,Karley_Dach@jasper.info,+1147793584786430,http://ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications,True
6,7,Kurtis Weissnat,ElwynSkiles,Telly.Hoeger@billy.biz,+12100676132,http://elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers,True
7,8,Nicholas Runolfsdottir V,MaximeNienow,Sherwood@rosamond.me,+15864936943140,http://jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers,True
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,+1775976679441206,http://conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True
9,10,Clementina DuBuque,MoriahStanton,Rey.Padberg@karina.biz,+10246483804,http://ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models,True

# Dim Companies

In [64]:
unique_companies = users_df[['company_name', 'company_catchPhrase', 'company_bs']].drop_duplicates()

# Create a mapping between unique companies and company IDs
company_mapping = {tuple(row): idx + 1 for idx, row in enumerate(unique_companies.itertuples(index=False))}

# Assign company IDs to the DataFrame
users_df['company_id'] = users_df[['company_name', 'company_catchPhrase', 'company_bs']].apply(lambda row: company_mapping[tuple(row)], axis=1)

In [65]:
users_df

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_name,company_catchPhrase,company_bs,email_valid,company_id
0,1,Leanne Graham,Bret,Sincere@april.biz,+11770736803156442,http://hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,True,1
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,+1010692659309125,http://anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True,2
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,+114631234447,http://ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,3
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,+14931709623156,http://kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,True,4
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,+12549541289,http://demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,True,5
5,6,Mrs Dennis Schulist,LeopoldoCorkery,Karley_Dach@jasper.info,+1147793584786430,http://ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications,True,6
6,7,Kurtis Weissnat,ElwynSkiles,Telly.Hoeger@billy.biz,+12100676132,http://elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers,True,7
7,8,Nicholas Runolfsdottir V,MaximeNienow,Sherwood@rosamond.me,+15864936943140,http://jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers,True,8
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,+1775976679441206,http://conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True,9
9,10,Clementina DuBuque,MoriahStanton,Rey.Padberg@karina.biz,+10246483804,http://ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models,True,10

In [66]:
companies_df = users_df[["company_id", "company_name", "company_catchPhrase", "company_bs"]].copy()

In [67]:
companies_df

,company_id,company_name,company_catchPhrase,company_bs
0,1,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Hoeger LLC,Centralized empowering task-force,target end-to-end models

In [68]:
companies_df.to_csv("dim_companies.csv", index=False)

# Dim Users

In [70]:
users_df.columns.tolist()

['id',
 'name',
 'username',
 'email',
 'phone',
 'website',
 'street',
 'suite',
 'city',
 'zipcode',
 'geo_lat',
 'geo_lng',
 'company_name',
 'company_catchPhrase',
 'company_bs',
 'email_valid',
 'company_id']

In [71]:
dim_users = users_df[['id',
 'name',
 'username',
 'email',
 'phone',
 'website',
 'street',
 'suite',
 'city',
 'zipcode',
 'geo_lat',
 'geo_lng',
 'company_id']].copy()

In [72]:
dim_users

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_id
0,1,Leanne Graham,Bret,Sincere@april.biz,+11770736803156442,http://hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,1
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,+1010692659309125,http://anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,2
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,+114631234447,http://ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,3
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,+14931709623156,http://kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,4
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,+12549541289,http://demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,5
5,6,Mrs Dennis Schulist,LeopoldoCorkery,Karley_Dach@jasper.info,+1147793584786430,http://ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,6
6,7,Kurtis Weissnat,ElwynSkiles,Telly.Hoeger@billy.biz,+12100676132,http://elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,7
7,8,Nicholas Runolfsdottir V,MaximeNienow,Sherwood@rosamond.me,+15864936943140,http://jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,8
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,+1775976679441206,http://conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,9
9,10,Clementina DuBuque,MoriahStanton,Rey.Padberg@karina.biz,+10246483804,http://ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,10

In [73]:
dim_users.to_csv("dim_users.csv", index=False)

In [76]:
hotel_bookings

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,...,street,suite,city,zipcode,geo_lat,geo_lng,company_name,company_catchPhrase,company_bs,email_valid
0,Resort Hotel,0,109,0,1,2,0,BB,RUS,0,...,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
1,Resort Hotel,0,109,0,1,2,2,BB,RUS,0,...,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
2,Resort Hotel,1,2,0,1,2,0,BB,PRT,0,...,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
3,Resort Hotel,0,88,0,2,2,0,HB,ARG,0,...,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
4,Resort Hotel,1,20,0,2,2,2,BB,PRT,0,...,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2,5,2,0,SC,FRA,0,...,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True
56703,City Hotel,0,177,2,5,0,0,BB,PRT,0,...,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True
56704,City Hotel,0,107,2,5,2,0,BB,FRA,0,...,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,True
56705,City Hotel,0,310,2,10,2,0,SC,DEU,0,...,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True
56706,City Hotel,0,310,2,10,2,0,SC,DEU,0,...,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,True

In [79]:
hotel_bookings.columns.tolist()

['hotel',
 'is_canceled',
 'lead_time',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'meal',
 'country',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'agent',
 'reservation_status',
 'reservation_status_date',
 'arrival_date',
 'id',
 'name',
 'username',
 'email',
 'phone',
 'website',
 'street',
 'suite',
 'city',
 'zipcode',
 'geo_lat',
 'geo_lng',
 'company_name',
 'company_catchPhrase',
 'company_bs',
 'email_valid']

# Dim hotel

In [81]:
hotel_columns = ['hotel']
unique_hotels = hotel_bookings[hotel_columns].drop_duplicates()
# Create a mapping between unique companies and company IDs
hotel_mapping = {tuple(row): idx + 1 for idx, row in enumerate(unique_hotels.itertuples(index=False))}
hotel_bookings['hotel_id'] = hotel_bookings[hotel_columns].apply(lambda row: hotel_mapping[tuple(row)], axis=1)

In [82]:
hotel_bookings[["hotel_id", "hotel"]].drop_duplicates()

       hotel_id         hotel
0             1  Resort Hotel
18567         2    City Hotel

In [83]:
hotel_bookings[["hotel_id", "hotel"]].drop_duplicates().to_csv("dim_hotel.csv", index=False)

# Dim Meals

In [84]:
meal_columns = ['meal']
unique_meal = hotel_bookings[meal_columns].drop_duplicates()
# Create a mapping between unique companies and company IDs
meal_mapping = {tuple(row): idx + 1 for idx, row in enumerate(unique_meal.itertuples(index=False))}
hotel_bookings['meal_id'] = hotel_bookings[meal_columns].apply(lambda row: meal_mapping[tuple(row)], axis=1)

In [85]:
hotel_bookings[["meal_id", "meal"]].drop_duplicates()

     meal_id meal
0          1   BB
3          2   HB
46         3   SC
250        4   FB

In [91]:
hotel_bookings[["meal_id", "meal"]].drop_duplicates().to_csv("dim_meal.csv", index=False)

# Dim Dates

In [95]:
hotel_bookings['arrival_date_id'] = hotel_bookings['arrival_date'].dt.strftime('%Y%m%d').astype(int)

In [96]:
hotel_bookings[["arrival_date_id", "arrival_date"]].drop_duplicates()

       arrival_date_id arrival_date
0             20160101   2016-01-01
7             20160102   2016-01-02
33            20160103   2016-01-03
35            20160104   2016-01-04
44            20160105   2016-01-05
...                ...          ...
6051          20160120   2016-01-20
6237          20160111   2016-01-11
7551          20160124   2016-01-24
8823          20160306   2016-03-06
17013         20161113   2016-11-13

[366 rows x 2 columns]

In [97]:
hotel_bookings[["date_id", "arrival_date"]].drop_duplicates().to_csv("dim_dates.csv", index=False)

In [101]:
hotel_bookings.rename(columns={"agent":"agent_id"}, inplace=True)

In [102]:
fact_columns = [
    #'booking_id',
    'hotel_id',
    'agent_id',
    'meal_id',
    'is_canceled',
    'lead_time',
    'stays_in_weekend_nights',
    'stays_in_week_nights',
    'adults',
    'children',
    'country',
    'is_repeated_guest',
    'previous_cancellations',
    'previous_bookings_not_canceled',
    'reserved_room_type',
    'assigned_room_type',
    'reservation_status',
    'reservation_status_date',
    'arrival_date_id']
hotel_bookings[fact_columns]

,hotel_id,agent_id,meal_id,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date,arrival_date_id
0,1,2,1,0,109,0,1,2,0,RUS,0,0,0,A,D,Check-Out,2016-01-02,20160101
1,1,2,1,0,109,0,1,2,2,RUS,0,0,0,H,H,Check-Out,2016-01-02,20160101
2,1,2,1,1,2,0,1,2,0,PRT,0,0,0,D,D,No-Show,2016-01-01,20160101
3,1,2,2,0,88,0,2,2,0,ARG,0,0,0,A,D,Check-Out,2016-01-03,20160101
4,1,2,1,1,20,0,2,2,2,PRT,0,0,0,G,G,Canceled,2015-12-22,20160101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,2,9,3,0,17,2,5,2,0,FRA,0,0,0,A,A,Check-Out,2017-01-06,20161230
56703,2,9,1,0,177,2,5,0,0,PRT,0,0,0,E,K,Check-Out,2017-01-06,20161230
56704,2,2,1,0,107,2,5,2,0,FRA,0,0,0,A,B,Check-Out,2017-01-07,20161231
56705,2,9,3,0,310,2,10,2,0,DEU,0,0,0,A,A,Check-Out,2017-01-08,20161227
56706,2,9,3,0,310,2,10,2,0,DEU,0,0,0,A,A,Check-Out,2017-01-08,20161227

In [104]:
unique_hotels = hotel_bookings[fact_columns].drop_duplicates()
# Create a mapping between unique companies and company IDs
hotel_mapping = {tuple(row): idx + 1 for idx, row in enumerate(unique_hotels.itertuples(index=False))}
hotel_bookings['booking_id'] = hotel_bookings[fact_columns].apply(lambda row: hotel_mapping[tuple(row)], axis=1)

In [106]:
hotel_bookings[["booking_id"]+fact_columns].drop_duplicates()

,booking_id,hotel_id,agent_id,meal_id,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date,arrival_date_id
0,1,1,2,1,0,109,0,1,2,0,RUS,0,0,0,A,D,Check-Out,2016-01-02,20160101
1,2,1,2,1,0,109,0,1,2,2,RUS,0,0,0,H,H,Check-Out,2016-01-02,20160101
2,3,1,2,1,1,2,0,1,2,0,PRT,0,0,0,D,D,No-Show,2016-01-01,20160101
3,4,1,2,2,0,88,0,2,2,0,ARG,0,0,0,A,D,Check-Out,2016-01-03,20160101
4,5,1,2,1,1,20,0,2,2,2,PRT,0,0,0,G,G,Canceled,2015-12-22,20160101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56701,41348,2,2,1,0,173,3,8,2,1,BRA,0,0,0,E,F,Check-Out,2017-01-06,20161226
56702,41349,2,9,3,0,17,2,5,2,0,FRA,0,0,0,A,A,Check-Out,2017-01-06,20161230
56703,41350,2,9,1,0,177,2,5,0,0,PRT,0,0,0,E,K,Check-Out,2017-01-06,20161230
56704,41351,2,2,1,0,107,2,5,2,0,FRA,0,0,0,A,B,Check-Out,2017-01-07,20161231
56705,41352,2,9,3,0,310,2,10,2,0,DEU,0,0,0,A,A,Check-Out,2017-01-08,20161227

In [114]:
hotel_bookings=copy

In [115]:
hotel_bookings[["booking_id"]+fact_columns].drop_duplicates().to_csv('fact_bookings.csv', index=False)

In [107]:
hotel_bookings.booking_id.value_counts(dropna=False)

24508    150
18868    109
18420    101
18852     89
22587     85
        ...
14399      1
14400      1
14401      1
14403      1
20677      1
Name: booking_id, Length: 41352, dtype: int64

In [108]:
hotel_bookings[hotel_bookings.booking_id==24508]

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,...,geo_lng,company_name,company_catchPhrase,company_bs,email_valid,hotel_id,meal_id,date_id,arrival_date_id,booking_id
35820,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
35821,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
35822,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
35823,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
35824,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35965,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
35966,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
35967,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
35968,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508
35969,City Hotel,1,68,0,2,2,0,BB,PRT,0,...,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,True,2,1,20160217,20160217,24508

In [ ]:
 | user_id (FK)     |
| company_catchPhrase |       | hotel_id (FK)    |
| company_bs          |       | agent_id (FK)    |
+---------------------+       | meal_id (FK)     |
                              | is_canceled      |
                              | lead_time        |
                              | stays_in_weekend_nights |
                              | stays_in_week_nights    |
                              | adults           |
                              | children         |
                              | country          |
                              | is_repeated_guest     |
                              | previous_cancellations |
                              | previous_bookings_not_canceled |
                              | reserved_room_type      |
                              | assigned_room_type      |
                              | reservation_status      |
                              | reservation_status_date |
                              | arrival_date_id (FK)    |
                              +------------------+

In [ ]:
+---------------------+       +------------------+       +------------------+
|   dim_users         |       |   dim_hotels     |       |   dim_meals      |
|---------------------|       |------------------|       |------------------|
| user_id (PK)        |       | hotel_id (PK)    |       | meal_id (PK)     |
| name                |       | hotel_name       |       | meal_type        |
| username            |       |                  |       +------------------+       +------------------+
| email               |       |                  |
| phone               |       +------------------+
| website             |
| street              |       +------------------+
| suite               |       |   dim_dates      |
| city                |       |------------------|
| zipcode             |       | date_id (PK)     |
| geo_lat             |       | arrival_date     |
| geo_lng             |       +------------------+
| company_id (FK)     |
| email_valid         |
+---------------------+

+---------------------+       +------------------+
|   dim_companies     |       |   fact_bookings  |
|---------------------|       |------------------|
| company_id (PK)     |       | booking_id (PK)  |
| company_name        |   
| company_catchPhrase |       | hotel_id (FK)    |
| company_bs          |       | agent_id (FK)    |
+---------------------+       | meal_id (FK)     |
                              | is_canceled      |
                              | lead_time        |
                              | stays_in_weekend_nights |
                              | stays_in_week_nights    |
                              | adults           |
                              | children         |
                              | country          |
                              | is_repeated_guest     |
                              | previous_cancellations |
                              | previous_bookings_not_canceled |
                              | reserved_room_type      |
                              | assigned_room_type      |
                              | reservation_status      |
                              | reservation_status_date |
                              | arrival_date_id (FK)    |
                              +------------------+

# Load

# Initial Analysis

## Hotel Bookings

- hotel: Hotel (H1 = Re Hotel or H2 = City Hotel)
- is_canceled: Value indicating if the booking was canceled (1) or not (0)
- lead_time: Number of days that elapsed between the entering date of the booking into the PMS and the arrival date
- arrival_date_year: Year of arrival date
- arrival_date_month: Month of arrival date
- arrival_date_day_of_month: Day of arrival date
- stays_in_weekend_nights: Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
- stays_in_week_nights: Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
- adults: Number of adults
- children: Number of children
- meal: Type of meal booked (Undefined/SC – no meal package; BB – Bed & Breakfast; HB – Half board; FB – Full board)
- country: Country of origin (ISO 3155–3:2013 format)
- is_repeated_guest: Value indicating if the booking name was from a repeated guest (1) or not (0)
- previous_cancellations: Number of previous bookings canceled by the customer prior to the current booking
- previous_bookings_not_canceled: Number of previous bookings not canceled by the customer prior to the current booking
- reserved_room_type: Code of room type reserved
- assigned_room_type: Code for the type of room assigned to the booking
- agent: ID of the agent that made the booking
- reservation_status: Reservation last status (Canceled, Check-Out, No-Show)
- reservation_status_date: Date at which the last status was set

In [9]:
import pandas as pd

# Supongamos que tu DataFrame se llama 'df'
# Puedes cargar los datos proporcionados en tu pregunta.

# Convertir la columna 'reservation_status_date' a formato de fecha
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'], format='%d/%m/%Y')

# Manejar datos faltantes
# Por ejemplo, llenar los valores faltantes en la columna 'agent' con el valor medio
df['agent'].fillna(df['agent'].median(), inplace=True)

# Convertir las columnas 'stays_in_weekend_nights' y 'stays_in_week_nights' a un solo total
df['total_stays'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

# Eliminar columnas innecesarias
columns_to_drop = ['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month']
df.drop(columns=columns_to_drop, inplace=True)

# Manejar valores inconsistentes o erróneos
# Por ejemplo, puedes reemplazar valores negativos en 'lead_time' con la mediana
median_lead_time = df['lead_time'].median()
df['lead_time'] = df['lead_time'].apply(lambda x: median_lead_time if x < 0 else x)

KeyError: 'reservation_status_date'

In [ ]:
Server=localhost\MSSQLSERVER01;Database=master;Trusted_Connection=True;

# EXTRACT

# TRANSFORM

# LOAD

In [147]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine

# Set up the connection string
conn_str = 'DRIVER={SQL Server};Server=localhost\MSSQLSERVER01;Database=master;Trusted_Connection=True;'

# Establish a connection
conn = pyodbc.connect(conn_str)

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('dim_companies.csv')

In [145]:
df

,company_id,company_name,company_catchPhrase,company_bs
0,1,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Hoeger LLC,Centralized empowering task-force,target end-to-end models

In [148]:
# Specify the schema and table name
schema = 'master.dbo'
table_name = 'dim_companies'

# Assume df is your DataFrame containing the data
returned = df.to_sql(name=table_name, con=engine, if_exists='replace', index=False, schema=schema)
conn.commit()

In [149]:
returned

In [163]:
import pandas as pd
from sqlalchemy import create_engine

# Set up the connection string
conn_str = 'mssql+pyodbc://localhost\\MSSQLSERVER01/master?driver=ODBC+Driver+17+for+SQL+Server'


# Construct the SQLAlchemy engine
engine = create_engine(conn_str)
conn = engine.connect()
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('dim_companies.csv')

In [164]:
df

,company_id,company_name,company_catchPhrase,company_bs
0,1,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Hoeger LLC,Centralized empowering task-force,target end-to-end models

In [202]:
import pandas as pd
from sqlalchemy import create_engine

# Set up the connection string with username and password
conn_str = 'mssql+pyodbc://pythonuser:admin@DESKTOP-OF79293/data_driven?driver=SQL+Server'

# Construct the SQLAlchemy engine
engine = create_engine(conn_str, fast_executemany=True)

# Create a connection
conn = engine.connect()

In [ ]:
for index, row in df.iterrows():
    insert_query = f"""
    INSERT INTO {schema_name}.{table_name} (company_id, company_name, company_catchPhrase, company_bs)
    VALUES ({row['company_id']}, '{row['company_name']}', '{row['company_catchPhrase']}', '{row['company_bs']}');
    """
    conn.execute(insert_query)

In [203]:

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('dim_companies.csv')

# Specify the schema and table name
schema_name = 'dbo'
table_name = 'dim_companies'

# Iterate over DataFrame rows and insert each row individually
df.to_sql(name=table_name, con=engine, if_exists='append', index=False, schema=schema)

# Close the connection
conn.close()

In [ ]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('dim_companies.csv')

# Specify the schema and table name
schema_name = 'data_driven'
table_name = 'your_table_name_here'

# Assuming you want to write the DataFrame to a SQL Server table
df.to_sql(table_name, conn, schema=schema_name, if_exists='replace', index=False)

# Close the connection
conn.close()

In [178]:
df

,company_id,company_name,company_catchPhrase,company_bs
0,1,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Hoeger LLC,Centralized empowering task-force,target end-to-end models

In [179]:
chunk_size = 1  # adjust the chunk size based on your available memory
for chunk in pd.read_csv('dim_companies.csv', chunksize=chunk_size):
    chunk.to_sql('dim_companies', engine, index=False, schema='dbo', if_exists='append')

In [173]:
df.to_sql('dim_companies', engine, index=False, schema = 'dbo', if_exists='replace' )

MemoryError:

# Final Load

In [210]:
import pandas as pd
from sqlalchemy import create_engine

In [211]:
def create_connection():
    # Set up the connection string with username and password
    conn_str = 'mssql+pyodbc://pythonuser:admin@DESKTOP-OF79293/data_driven?driver=SQL+Server'

    # Construct the SQLAlchemy engine
    engine = create_engine(conn_str)

    # Create a connection
    conn = engine.connect()
    return conn

In [214]:
file_extension = ".csv"
schema_name = 'dbo'
tables_list = ["dim_companies", "dim_hotels", "dim_meals", "dim_users", "dim_dates", "fact_bookings"]

In [212]:
conn = create_connection()

In [220]:
for table_name in tables_list:
    df = pd.read_csv(table_name+file_extension)

    # Iterate over DataFrame rows and insert each row individually
    try:
        df.to_sql(name=table_name, con=engine, if_exists='append', index=False, schema=schema)
        print(f"Data loaded sucesfully into: {table_name}.")
    except Exception as e:
        print(f"Load data into table: {table_name} produced error: {e}.")

Data loaded sucesfully into: dim_companies.
Load data into table: dim_hotels produced error: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]El nombre de columna 'hotel' no es válido. (207) (SQLExecute); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]No se puede preparar la instrucción o instrucciones. (8180)")
[SQL: INSERT INTO dbo.dim_hotels (hotel_id, hotel) VALUES (?, ?)]
[parameters: ((1, 'Resort Hotel'), (2, 'City Hotel'))]
(Background on this error at: https://sqlalche.me/e/14/f405).
Load data into table: dim_meals produced error: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]El nombre de columna 'meal' no es válido. (207) (SQLExecute); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]No se puede preparar la instrucción o instrucciones. (8180)")
[SQL: INSERT INTO dbo.dim_meals (meal_id, meal) VALUES (?, ?)]
[parameters: ((1, 'BB'), (2, 'HB'), (3, 'SC'), (4, 'FB'))]
(Background on this error at: https://sqlalche.me/e/14/f405).
Load data into table: dim_users produced error: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]El nombre de columna 'id' no es válido. (207) (SQLExecute); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]No se puede preparar la instrucción o instrucciones. (8180)")
[SQL: INSERT INTO dbo.dim_users (id, name, username, email, phone, website, street, suite, city, zipcode, geo_lat, geo_lng, company_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((1, 'Leanne Graham', 'Bret', 'Sincere@april.biz', 11770736803156442, 'http://hildegard.org', 'Kulas Light', 'Apt. 556', 'Gwenborough', '92998-3874', -37.3159, 81.1496, 1), (2, 'Ervin Howell', 'Antonette', 'Shanna@melissa.tv', 1010692659309125, 'http://anastasia.net', 'Victor Plains', 'Suite 879', 'Wisokyburgh', '90566-7771', -43.9509, -34.4618, 2), (3, 'Clementine Bauch', 'Samantha', 'Nathan@yesenia.net', 114631234447, 'http://ramiro.info', 'Douglas Extension', 'Suite 847', 'McKenziehaven', '59590-4157', -68.6102, -47.0653, 3), (4, 'Patricia Lebsack', 'Karianne', 'Julianne.OConner@kory.org', 14931709623156, 'http://kale.biz', 'Hoeger Mall', 'Apt. 692', 'South Elvis', '53919-4257', 29.4572, -164.299, 4), (5, 'Chelsey Dietrich', 'Kamren', 'Lucio_Hettinger@annie.ca', 12549541289, 'http://demarco.info', 'Skiles Walks', 'Suite 351', 'Roscoeview', '33263', -31.8129, 62.5342, 5), (6, 'Mrs Dennis Schulist', 'LeopoldoCorkery', 'Karley_Dach@jasper.info', 1147793584786430, 'http://ola.org', 'Norberto Crossing', 'Apt. 950', 'South Christy', '23505-1337', -71.4197, 71.7478, 6), (7, 'Kurtis Weissnat', 'ElwynSkiles', 'Telly.Hoeger@billy.biz', 12100676132, 'http://elvis.io', 'Rex Trail', 'Suite 280', 'Howemouth', '58804-1099', 24.8918, 21.8984, 7), (8, 'Nicholas Runolfsdottir V', 'MaximeNienow', 'Sherwood@rosamond.me', 15864936943140, 'http://jacynthe.com', 'Ellsworth Summit', 'Suite 729', 'Aliyaview', '45169', -14.399, -120.7677, 8), (9, 'Glenna Reichert', 'Delphine', 'Chaim_McDermott@dana.io', 1775976679441206, 'http://conrad.com', 'Dayna Park', 'Suite 449', 'Bartholomebury', '76495-3109', 24.6463, -168.8889, 9), (10, 'Clementina DuBuque', 'MoriahStanton', 'Rey.Padberg@karina.biz', 10246483804, 'http://ambrose.net', 'Kattie Turnpike', 'Suite 198', 'Lebsackbury', '31428-2261', -38.2386, 57.2232, 10))]
(Background on this error at: https://sqlalche.me/e/14/f405).
Data loaded sucesfully into: dim_dates.
Load data into table: fact_bookings produced error: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]El nombre de columna 'agent_id' no es válido. (207) (SQLExecute); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]El nombre de columna 'country' no es válido. (207); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]No se puede preparar la instrucción o instrucciones. (8180)")
[SQL: INSERT INTO dbo.fact_bookings (booking_id, hotel_id, agent_id, meal_id, is_canceled, lead_time, stays_in_weekend_nights, stays_in_week_nights, adults, children, country, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, reservation_status, reservation_status_date, arrival_date_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((1, 1, 2, 1, 0, 109, 0, 1, 2, 0, 'RUS', 0, 0, 0, 'A', 'D', 'Check-Out', '2016-01-02', 20160101), (2, 1, 2, 1, 0, 109, 0, 1, 2, 2, 'RUS', 0, 0, 0, 'H', 'H', 'Check-Out', '2016-01-02', 20160101), (3, 1, 2, 1, 1, 2, 0, 1, 2, 0, 'PRT', 0, 0, 0, 'D', 'D', 'No-Show', '2016-01-01', 20160101), (4, 1, 2, 2, 0, 88, 0, 2, 2, 0, 'ARG', 0, 0, 0, 'A', 'D', 'Check-Out', '2016-01-03', 20160101), (5, 1, 2, 1, 1, 20, 0, 2, 2, 2, 'PRT', 0, 0, 0, 'G', 'G', 'Canceled', '2015-12-22', 20160101), (6, 1, 2, 1, 1, 76, 1, 2, 2, 0, 'PRT', 0, 0, 0, 'A', 'A', 'Canceled', '2015-12-20', 20160101), (7, 1, 2, 2, 0, 88, 0, 2, 2, 1, 'ARG', 0, 0, 0, 'A', 'D', 'Check-Out', '2016-01-03', 20160101), (8, 1, 3, 2, 1, 113, 0, 1, 2, 0, 'PRT', 0, 0, 0, 'A', 'A', 'Canceled', '2015-11-16', 20160102)  ... displaying 10 of 41352 total bound parameter sets ...  (41351, 2, 2, 1, 0, 107, 2, 5, 2, 0, 'FRA', 0, 0, 0, 'A', 'B', 'Check-Out', '2017-01-07', 20161231), (41352, 2, 9, 3, 0, 310, 2, 10, 2, 0, 'DEU', 0, 0, 0, 'A', 'A', 'Check-Out', '2017-01-08', 20161227))]
(Background on this error at: https://sqlalche.me/e/14/f405).

In [243]:
table_name = "fact_bookings"
df = pd.read_csv(table_name+".csv")
df.to_sql(name=table_name, con=engine, if_exists='append', index=False, schema=schema)

In [240]:
df.head(2)

,booking_id,hotel_id,agent_id,meal_id,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date,arrival_date_id
0,1,1,2,1,0,109,0,1,2,0,RUS,0,0,0,A,D,Check-Out,2016-01-02,20160101
1,2,1,2,1,0,109,0,1,2,2,RUS,0,0,0,H,H,Check-Out,2016-01-02,20160101

In [233]:
df

,id,name,username,email,phone,website,street,suite,city,zipcode,geo_lat,geo_lng,company_id
0,1,Leanne Graham,Bret,Sincere@april.biz,11770736803156442,http://hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,1
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,1010692659309125,http://anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,2
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,114631234447,http://ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,3
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,14931709623156,http://kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,4
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,12549541289,http://demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,5
5,6,Mrs Dennis Schulist,LeopoldoCorkery,Karley_Dach@jasper.info,1147793584786430,http://ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,6
6,7,Kurtis Weissnat,ElwynSkiles,Telly.Hoeger@billy.biz,12100676132,http://elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,7
7,8,Nicholas Runolfsdottir V,MaximeNienow,Sherwood@rosamond.me,15864936943140,http://jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,8
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,1775976679441206,http://conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,9
9,10,Clementina DuBuque,MoriahStanton,Rey.Padberg@karina.biz,10246483804,http://ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,10

In [247]:
hotel_bookings.drop_duplicates()["hotel"].value_counts(dropna=False)

City Hotel      26230
Resort Hotel    15122
Name: hotel, dtype: int64

In [249]:
hotel_bookings.drop_duplicates()["is_repeated_guest"].value_counts(dropna=False)

0    39682
1     1670
Name: is_repeated_guest, dtype: int64

# DWH MODEL

In [ ]:
+---------------------+       +------------------+       +------------------+
|   dim_users         |       |   dim_hotels     |       |   dim_meals      |
|---------------------|       |------------------|       |------------------|
| user_id (PK)        |       | hotel_id (PK)    |       | meal_id (PK)     |
| name                |       | hotel_name       |       | meal_type        |
| username            |       |                  |       +------------------+       +------------------+
| email               |       |                  |
| phone               |       +------------------+
| website             |
| street              |       +------------------+
| suite               |       |   dim_dates      |
| city                |       |------------------|
| zipcode             |       | date_id (PK)     |
| geo_lat             |       | arrival_date     |
| geo_lng             |       +------------------+
| company_id (FK)     |
| email_valid         |
+---------------------+

+---------------------+       +------------------+
|   dim_companies     |       |   fact_bookings  |
|---------------------|       |------------------|
| company_id (PK)     |       | booking_id (PK)  |
| company_name        |   
| company_catchPhrase |       | hotel_id (FK)    |
| company_bs          |       | agent_id (FK)    |
+---------------------+       | meal_id (FK)     |
                              | is_canceled      |
                              | lead_time        |
                              | stays_in_weekend_nights |
                              | stays_in_week_nights    |
                              | adults           |
                              | children         |
                              | country          |
                              | is_repeated_guest     |
                              | previous_cancellations |
                              | previous_bookings_not_canceled |
                              | reserved_room_type      |
                              | assigned_room_type      |
                              | reservation_status      |
                              | reservation_status_date |
                              | arrival_date_id (FK)    |
                              +------------------+

In [ ]:
CREATE TABLE [dbo].[dim_companies](
	[company_id] [int] NOT NULL,
	[company_name] [varchar](255) NULL,
	[company_catchPhrase] [varchar](255) NULL,
	[company_bs] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[dim_dates](
	[date_id] [int] NOT NULL,
	[arrival_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[dim_hotels](
	[hotel_id] [int] NOT NULL,
	[hotel] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[dim_meals](
	[meal_id] [int] NOT NULL,
	[meal] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[meal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[dim_users](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[username] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[website] [varchar](255) NULL,
	[street] [varchar](255) NULL,
	[suite] [varchar](255) NULL,
	[city] [varchar](255) NULL,
	[zipcode] [varchar](255) NULL,
	[geo_lat] [float] NULL,
	[geo_lng] [float] NULL,
	[company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[dim_users]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[dim_companies] ([company_id])
GO

CREATE TABLE [dbo].[fact_bookings](
	[booking_id] [int] NOT NULL,
	[agent_id] [int] NULL,
	[hotel_id] [int] NULL,
	[meal_id] [int] NULL,
	[is_canceled] [int] NULL,
	[lead_time] [int] NULL,
	[stays_in_weekend_nights] [int] NULL,
	[stays_in_week_nights] [int] NULL,
	[adults] [int] NULL,
	[children] [int] NULL,
	[is_repeated_guest] [int] NULL,
	[previous_cancellations] [int] NULL,
	[previous_bookings_not_canceled] [int] NULL,
	[reserved_room_type] [varchar](255) NULL,
	[assigned_room_type] [varchar](255) NULL,
	[reservation_status] [varchar](255) NULL,
	[reservation_status_date] [date] NULL,
	[arrival_date_id] [int] NULL,
	[country] [varchar](255) NULL,
 CONSTRAINT [PK__fact_boo__5DE3A5B1B8C8967F] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[fact_bookings]  WITH CHECK ADD  CONSTRAINT [FK__fact_book__arriv__37A5467C] FOREIGN KEY([arrival_date_id])
REFERENCES [dbo].[dim_dates] ([date_id])
GO

ALTER TABLE [dbo].[fact_bookings] CHECK CONSTRAINT [FK__fact_book__arriv__37A5467C]
GO

ALTER TABLE [dbo].[fact_bookings]  WITH CHECK ADD  CONSTRAINT [FK__fact_book__hotel__35BCFE0A] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[dim_hotels] ([hotel_id])
GO

ALTER TABLE [dbo].[fact_bookings] CHECK CONSTRAINT [FK__fact_book__hotel__35BCFE0A]
GO

ALTER TABLE [dbo].[fact_bookings]  WITH CHECK ADD  CONSTRAINT [FK__fact_book__meal___36B12243] FOREIGN KEY([meal_id])
REFERENCES [dbo].[dim_meals] ([meal_id])
GO

ALTER TABLE [dbo].[fact_bookings] CHECK CONSTRAINT [FK__fact_book__meal___36B12243]
GO

ALTER TABLE [dbo].[fact_bookings]  WITH CHECK ADD  CONSTRAINT [FK__fact_book__user___34C8D9D1] FOREIGN KEY([agent_id])
REFERENCES [dbo].[dim_users] ([id])
GO

ALTER TABLE [dbo].[fact_bookings] CHECK CONSTRAINT [FK__fact_book__user___34C8D9D1]
GO

# SQL Analysis

In [ ]:
---- Bookings by agent
SELECT du.username as agent_name, COUNT(fb.booking_id) as num_bookings
FROM dbo.dim_users du
LEFT JOIN dbo.fact_bookings fb ON du.id = fb.agent_id
GROUP BY du.username;

---- Bookings by company
SELECT dc.company_name, COUNT(fb.booking_id) as num_bookings
FROM dbo.dim_companies dc
LEFT JOIN dbo.dim_users du ON dc.company_id = du.company_id
LEFT JOIN dbo.fact_bookings fb ON du.id = fb.agent_id
GROUP BY dc.company_name;

---- Meal Preferences
SELECT
    meal,   
    meal_package,
	COUNT(booking_id) as num_bookings
FROM (
    SELECT
        dm.meal,
        fb.booking_id,
        CASE
            WHEN dm.meal IN ('Undefined', 'SC') THEN 'No meal package'
            WHEN dm.meal = 'BB' THEN 'Bed & Breakfast'
            WHEN dm.meal = 'HB' THEN 'Half board'
            WHEN dm.meal = 'FB' THEN 'Full board'
            ELSE 'Other'
        END as meal_package
    FROM dbo.dim_meals dm
    LEFT JOIN dbo.fact_bookings fb ON dm.meal_id = fb.meal_id
) AS subquery
GROUP BY meal, meal_package;

---- Canceled bookings by country
SELECT fb.country, COUNT(fb.booking_id) as num_cancelations
FROM dbo.fact_bookings fb
WHERE fb.is_canceled = 1
GROUP BY fb.country;

---- AVG stay nights by user
SELECT du.username, AVG(fb.stays_in_weekend_nights + fb.stays_in_week_nights) as avg_stay
FROM dbo.dim_users du
LEFT JOIN dbo.fact_bookings fb ON du.id = fb.agent_id
GROUP BY du.username;


---- Bookings per season
SELECT    
    CASE
        WHEN MONTH(fb.reservation_status_date) IN (12, 1, 2) THEN 'Invierno'   -- Diciembre, Enero, Febrero
        WHEN MONTH(fb.reservation_status_date) IN (3, 4, 5) THEN 'Primavera'  -- Marzo, Abril, Mayo
        WHEN MONTH(fb.reservation_status_date) IN (6, 7, 8) THEN 'Verano'     -- Junio, Julio, Agosto
        WHEN MONTH(fb.reservation_status_date) IN (9, 10, 11) THEN 'Otoño'    -- Septiembre, Octubre, Noviembre
        ELSE 'Otro'
    END as season,
	COUNT(fb.booking_id) as num_bookings
FROM dbo.dim_users du
LEFT JOIN dbo.fact_bookings fb ON du.id = fb.agent_id
GROUP BY  
         CASE
            WHEN MONTH(fb.reservation_status_date) IN (12, 1, 2) THEN 'Invierno'   -- Diciembre, Enero, Febrero
            WHEN MONTH(fb.reservation_status_date) IN (3, 4, 5) THEN 'Primavera'  -- Marzo, Abril, Mayo
            WHEN MONTH(fb.reservation_status_date) IN (6, 7, 8) THEN 'Verano'     -- Junio, Julio, Agosto
            WHEN MONTH(fb.reservation_status_date) IN (9, 10, 11) THEN 'Otoño'    -- Septiembre, Octubre, Noviembre
            ELSE 'Otro'
        END;

----- Bookings and stays
SELECT
    CASE
        WHEN MONTH(fb.reservation_status_date) IN (12, 1, 2) THEN 'Invierno'   -- Diciembre, Enero, Febrero
        WHEN MONTH(fb.reservation_status_date) IN (3, 4, 5) THEN 'Primavera'  -- Marzo, Abril, Mayo
        WHEN MONTH(fb.reservation_status_date) IN (6, 7, 8) THEN 'Verano'     -- Junio, Julio, Agosto
        WHEN MONTH(fb.reservation_status_date) IN (9, 10, 11) THEN 'Otoño'    -- Septiembre, Octubre, Noviembre
        ELSE 'Otro'
    END as season,
    COUNT(fb.booking_id) as num_bookings,
    SUM(fb.stays_in_weekend_nights + fb.stays_in_week_nights) as total_stay,
    AVG(fb.stays_in_weekend_nights + fb.stays_in_week_nights) as avg_stay
FROM dbo.dim_users du
LEFT JOIN dbo.fact_bookings fb ON du.id = fb.agent_id
GROUP BY  
    CASE
        WHEN MONTH(fb.reservation_status_date) IN (12, 1, 2) THEN 'Invierno'   -- Diciembre, Enero, Febrero
        WHEN MONTH(fb.reservation_status_date) IN (3, 4, 5) THEN 'Primavera'  -- Marzo, Abril, Mayo
        WHEN MONTH(fb.reservation_status_date) IN (6, 7, 8) THEN 'Verano'     -- Junio, Julio, Agosto
        WHEN MONTH(fb.reservation_status_date) IN (9, 10, 11) THEN 'Otoño'    -- Septiembre, Octubre, Noviembre
        ELSE 'Otro'
    END;

----- Booking stays and meals per seasons
SELECT
    CASE
        WHEN MONTH(fb.reservation_status_date) IN (12, 1, 2) THEN 'Invierno'   -- Diciembre, Enero, Febrero
        WHEN MONTH(fb.reservation_status_date) IN (3, 4, 5) THEN 'Primavera'  -- Marzo, Abril, Mayo
        WHEN MONTH(fb.reservation_status_date) IN (6, 7, 8) THEN 'Verano'     -- Junio, Julio, Agosto
        WHEN MONTH(fb.reservation_status_date) IN (9, 10, 11) THEN 'Otoño'    -- Septiembre, Octubre, Noviembre
        ELSE 'Otro'
    END as season,
    COUNT(fb.booking_id) as num_bookings,
    SUM(fb.stays_in_weekend_nights + fb.stays_in_week_nights) as total_stay,
    AVG(fb.stays_in_weekend_nights + fb.stays_in_week_nights) as avg_stay,
    COUNT(CASE WHEN dm.meal = 'Undefined' THEN 1 END) as num_undefined_meal,
    COUNT(CASE WHEN dm.meal = 'BB' THEN 1 END) as num_bed_breakfast,
    COUNT(CASE WHEN dm.meal = 'HB' THEN 1 END) as num_half_board,
    COUNT(CASE WHEN dm.meal = 'FB' THEN 1 END) as num_full_board
FROM dbo.dim_users du
LEFT JOIN dbo.fact_bookings fb ON du.id = fb.agent_id
LEFT JOIN dbo.dim_meals dm ON fb.meal_id = dm.meal_id
GROUP BY  
    CASE
        WHEN MONTH(fb.reservation_status_date) IN (12, 1, 2) THEN 'Invierno'   -- Diciembre, Enero, Febrero
        WHEN MONTH(fb.reservation_status_date) IN (3, 4, 5) THEN 'Primavera'  -- Marzo, Abril, Mayo
        WHEN MONTH(fb.reservation_status_date) IN (6, 7, 8) THEN 'Verano'     -- Junio, Julio, Agosto
        WHEN MONTH(fb.reservation_status_date) IN (9, 10, 11) THEN 'Otoño'    -- Septiembre, Octubre, Noviembre
        ELSE 'Otro'
    END;


----- Booking stays, meals and cancelations per seasons
SELECT
    CASE
        WHEN MONTH(fb.reservation_status_date) IN (12, 1, 2) THEN 'Invierno'   -- Diciembre, Enero, Febrero
        WHEN MONTH(fb.reservation_status_date) IN (3, 4, 5) THEN 'Primavera'  -- Marzo, Abril, Mayo
        WHEN MONTH(fb.reservation_status_date) IN (6, 7, 8) THEN 'Verano'     -- Junio, Julio, Agosto
        WHEN MONTH(fb.reservation_status_date) IN (9, 10, 11) THEN 'Otoño'    -- Septiembre, Octubre, Noviembre
        ELSE 'Otro'
    END as season,
    COUNT(fb.booking_id) as num_bookings,
    COUNT(CASE WHEN fb.is_canceled = 1 THEN 1 END) as num_cancelled_bookings,
    ROUND(CAST(COUNT(CASE WHEN fb.is_canceled = 1 THEN 1 END) AS FLOAT) / COUNT(fb.booking_id) * 100, 2) as cancelled_percentage,
    SUM(fb.stays_in_weekend_nights + fb.stays_in_week_nights) as total_stay_in_days,
    AVG(fb.stays_in_week_nights) as avg_stay_in_week,
    AVG(fb.stays_in_week_nights + fb.stays_in_weekend_nights) as avg_stay_total,
    COUNT(CASE WHEN dm.meal = 'Undefined' THEN 1 END) as num_undefined_meal,
    COUNT(CASE WHEN dm.meal = 'BB' THEN 1 END) as num_bed_breakfast,
    COUNT(CASE WHEN dm.meal = 'HB' THEN 1 END) as num_half_board,
    COUNT(CASE WHEN dm.meal = 'FB' THEN 1 END) as num_full_board
FROM dbo.dim_users du
LEFT JOIN dbo.fact_bookings fb ON du.id = fb.agent_id
LEFT JOIN dbo.dim_meals dm ON fb.meal_id = dm.meal_id
GROUP BY  
    CASE
        WHEN MONTH(fb.reservation_status_date) IN (12, 1, 2) THEN 'Invierno'   -- Diciembre, Enero, Febrero
        WHEN MONTH(fb.reservation_status_date) IN (3, 4, 5) THEN 'Primavera'  -- Marzo, Abril, Mayo
        WHEN MONTH(fb.reservation_status_date) IN (6, 7, 8) THEN 'Verano'     -- Junio, Julio, Agosto
        WHEN MONTH(fb.reservation_status_date) IN (9, 10, 11) THEN 'Otoño'    -- Septiembre, Octubre, Noviembre
        ELSE 'Otro'
    END;

# DASHBOARD PROPOSAL

In [ ]:
-- Insert data into dim_companies
INSERT INTO dim_companies (company_id, company_name, company_catchPhrase, company_bs)
VALUES
    (1, 'ABC Corporation', 'Empowering Businesses', 'Strategic Solutions'),
    (2, 'XYZ Ltd', 'Innovating the Future', 'Technology Services'),
    (3, 'LMN Enterprises', 'Driving Success', 'Global Partnerships');

select * from dim_companies;

delete from dim_companies;


-- Agrega el usuario a los roles necesarios en el servidor
ALTER SERVER ROLE [db_datareader] ADD MEMBER [DESKTOP-OF79293\roney];
ALTER SERVER ROLE [db_datawriter] ADD MEMBER [DESKTOP-OF79293\roney];


-- Reemplaza 'tu_nombre_de_usuario' y 'tu_contraseña' con los valores deseados
USE data_driven;

-- Crear usuario
CREATE LOGIN pythonuser WITH PASSWORD = 'admin';

-- Asignar al usuario permisos de escritura y lectura en la base de datos
USE data_driven;
CREATE USER pythonuser FOR LOGIN pythonuser;
ALTER ROLE db_datareader ADD MEMBER pythonuser;
ALTER ROLE db_datawriter ADD MEMBER pythonuser;

-- Conéctate a la base de datos master
USE master;

-- Otorga permisos de inicio de sesión al usuario
GRANT CONNECT SQL TO pythonuser;

-- Conéctate de nuevo a tu base de datos específica
USE data_driven;
select @@SERVERNAME;
GRANT SELECT, INSERT, UPDATE, DELETE ON SCHEMA::dbo TO pythonuser;
SELECT dp.permission_name, dp.state_desc, dp.class_desc, dp.major_id, dp.minor_id,
       dp.grantee_principal_id, dp.grantor_principal_id
FROM sys.database_permissions dp
WHERE dp.grantee_principal_id = USER_ID('pythonuser');

SELECT name, * FROM sys.sql_logins WHERE name = 'pythonuser';
USE master;
GRANT CONNECT SQL TO pythonuser;



USE data_driven;
GRANT CREATE TABLE TO pythonuser;